* {
    margin: 0;
    padding: 0;
}
.headerinner{
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background-color: #000000;
}
.link{
    padding-top: 15px;
}
.btn{
    width: 177px;
    height: 36px;
    background: #000000;
    border-radius: 6px;
    color: #459EA4;
}
.imgline{
    width: 1444px;
}
.info1{
    display: flex;
}
.info1img{
    width: 451px;
    height: 304px;
    padding: 0 35px;
}
.info1text{
    width: 903px;
    height: 345px;
}
.info1texth3{
    width: 903px;
    height: 243px;
    font-family: 'JejuMyeongjo';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;

    color: #459EA4;
}
.info1textp{
    width: 674px;
    height: 102px;
    left: 537px;
    top: 303px;

    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;

    color: #000000;
}
.mainbtn{
    width: 1444px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 48px 0;
}
.mainbtn button{
    width: 958px;
    height: 132px;
    left: 253px;
    top: 571px;

    background: #000000;
    border-radius: 17px;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: #459EA4;
}

.secondary button{
    width: 361px;
    height: 72px;
    left: 73px;
    top: 807px;

    background: #000000;
    border-radius: 23px;
    color: #459EA4;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    /* display: flex; */
}
.student{
    margin: 0 103px;
}
.secondary{
    margin: 0 80px;
}
.header{
    /* position: fixed;
    width: 100%;
    top: 0; */
    margin-top: 40px;
    height: 32px;
    display: flex;
    justify-content: space-around;
}
.header button{
    display: flex;
    align-items: center;
    width: 137px;
    height: 29px;
    /* left: 112px;
    top: 9px; */

    background: #000000;
    border-radius: 6px;
    color: #459EA4;
    font-size: 13px;
}
.lection1{
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.topic{
    width: 455px;
    height: 100px;
    left: 37px;
    top: 89px;

    background: #000000;
    border-radius: 12px;
    color: #459EA4;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 45px;
}
.topic p{
    text-align: center;
}
.nameofcontent{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.gg{
    width: 553px;
    height: 88px;
    left: 418px;
    top: 112px;

    background: #000000;
    border-radius: 17px;
    color: #459EA4;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
}
.maincontent{
    display: flex;
    justify-content: space-around;
}
.explain{
    width: 604px;
    height: 676px;
    left: 61px;
    top: 261px;

    background: #000000;
    border-radius: 17px;
}
.explain2{
    width: 604px;
    height: 676px;
    left: 61px;
    top: 261px;

    background: #000000;
    border-radius: 17px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* .explain p{
    padding-left: 60px;
    width: 486px;
    height: 636px;
    left: 119px;
    top: 281px;

    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #459EA4;
} */
.pp{
    padding-left: 60px;
    width: 486px;
    height: 636px;
    left: 119px;
    top: 281px;

    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #459EA4;
}
.hh{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: #459EA4;
}
.hg{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #459EA4;
}

#window-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 9999;
  }
  
  #window-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .for-login {
      margin-top: 30px;
  }
  .for-login-2 {
      margin-top: 5px;
  }
  #window-content input {
    text-align: center;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid blue;
    color: white;
    background: transparent;
  }
  #window-content input:hover {
      width: 200px;
      height: 35px;
      transition: .5s all;
  }
  
  
  
  #close-window {
    margin-top: 10px;
    width: 100px;
    height: 20px;
    border: 1px solid white;
    color: white;
    border-radius: 15px;
    background: transparent;
  }
  /* #close-window:hover{
      width: 10px;
      height: 10px;
  } */